:root {
	--text-color: white;
	--background-color: black;

	--container-color: whitesmoke;

	--accent-color: white;

	--control-color: skyblue;
	--control-text-color: black;
	--control-disabled-color: lightblue;
	--control-background-color: whitesmoke;

}