<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico"/>
    <link href="/assets/styles/main.css" rel="stylesheet">

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"> </script>

    <title>
      {{ page.title }} | Ayush Singh's Thoughts
    </title>
  </head>
  
  <body>
    <header>
      <h1>Thoughts on math, music, books, and nature.</h1>

      <nav>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

    </header>

