<!DOCTYPE html>
<html lang="en">
  <head>
	<title>{{site.title}} | {{ page.title }} </title>
	<meta name="supported-color-schemes" content="light dark">
	<meta name="google-site-verification" content="wwkYp9pXh5OaEbHoee23wvXQ07sNfNdTYwJTnJZ9fmo" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link id="theme" href="/assets/css/dark.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"> </script>
	
  </head>
    


