@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans&display=swap');

$base-font-size: 1.6rem;
$small-font-size: .9 * $base-font-size;
$large-font-size: 1.2 * $base-font-size;

$sans: 'Fira Sans', sans-serif;
$mono: 'Fira Mono', monospace;
