{% include header.html %}

<main>
<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>{{site.title}}</strong> by {{site.github_username}}</a>
								</header>
								<br>
								<h3> {{site.description}}. </h3>

								<!--<button onclick="switchThemes();">Click to Switch Themes</button> -->
							<!-- Section -->
								<section>
									<header class="major">
									</header>
									 {{ content }}
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/tag/physics">Physics Stuff</a></li>
										<li><a href="/tag/math">Math Stuff</a></li>
										<li><a href="/tag/History-bits">History bits</a></li>
										<li><a href="/tag/languages">Languages</a></li>
										<li><a href="/oldpage"> Programming </a></li>
										<!-- <li><a href="/goals">Goals</a></li> -->
										<li><a href="/about">About</a></li>
									</ul>
								</nav>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>

</main>
